@model Domain.ViewModels.LoginModel

@{
    ViewBag.Title = "Login";
    ViewBag.BodyClasses = " login";
}

<div class="container">
    <!-- Form -->
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {	
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Login
                </h4>
            </div>
        </div>
        
        @Html.AntiForgeryToken()	
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email Address", type = "email" })
        @Html.ValidationMessageFor(x => x.Email)

        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })						
        @Html.ValidationMessageFor(x => x.Password)

        <div class="row">
            <div class="col-md-12">
                <div class="uniformjs">
                    <label class="checkbox">@Html.CheckBoxFor(x => x.RememberMe) Remember me</label>
                </div>
            </div>
        </div>	
        
        <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-block btn-primary" type="submit">Sign in</button>
            </div>
        </div>
    }
    <!-- // Form END -->
</div>
@section Scripts {
    <style>
        .form-signin {
            width: 275px;
            margin: auto;
        }

            .form-signin input[type="email"] {
                margin-bottom: 12px;
                padding: 20px 10px;
            }

            .form-signin input[type="password"] {
                padding: 20px 10px;
            }
    </style>

    @Scripts.Render("~/bundles/jqueryval")

}