@model Domain.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
    ViewBag.BodyClasses = " login";
}


<div class="container">

    <!-- Form -->
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {	
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Register
                </h4>
            </div>
        </div>
    			
        <div class="row">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email Address", type = "email" })
                @Html.ValidationMessageFor(x => x.Email)

                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(x => x.Password)

                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)

                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First Name" })
                @Html.ValidationMessageFor(x => x.FirstName)

                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Last Name" })
                @Html.ValidationMessageFor(x => x.LastName)

                @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", placeholder = "Company Name" })
                @Html.ValidationMessageFor(x => x.CompanyName)
            </div>
        </div>                
        <br />                     
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-block btn-primary" type="submit">Sign Up</button>
            </div>
        </div>
    }
    <!-- // Form END -->
</div>

<p class="text-right">
    @Html.ActionLink("Already have an account? Click here to log in", "Login", new { @controller = "Account" })
</p>


@section Scripts {
    <style>
        .form-signin {
            width: 275px;
            margin: auto;
        }

            .form-signin input[type="email"], .form-signin input[type="text"] {
                margin-bottom: 12px;
                padding: 20px 10px;
            }

            .form-signin input[type="password"] {
                padding: 20px 10px;
                margin-bottom: 12px;
            }
    </style>

    @Scripts.Render("~/bundles/jqueryval")

}