<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 fluid top-full menuh-top sticky-top sidebar sidebar-full sidebar-collapsible sidebar-width-mini sidebar-hat"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 fluid top-full menuh-top sticky-top sidebar sidebar-full sidebar-collapsible sidebar-width-mini sidebar-hat"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 fluid top-full menuh-top sticky-top sidebar sidebar-full sidebar-collapsible sidebar-width-mini sidebar-hat"> <![endif]-->
<!--[if gt IE 8]> <html class="animations ie gt-ie8 fluid top-full menuh-top sticky-top sidebar sidebar-full sidebar-collapsible sidebar-width-mini sidebar-hat"> <![endif]-->
<!--[if !IE]><!-->
<html class="animations fluid top-full menuh-top sticky-top sidebar sidebar-full sidebar-collapsible sidebar-width-mini sidebar-hat">
<!-- <![endif]-->
<head>
    @{
        string controller = ViewContext.RouteData.Values["controller"].ToString();
        string action = ViewContext.RouteData.Values["action"].ToString();        
    }

    <title>@ViewBag.Title - Timesheets</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    @* ################################# CSS FILES ############################# *@
    @* Bootstrap CSS *@
    @Styles.Render("~/Plugins/FLTBootstrap/css/bootstrap.css")
    @Styles.Render("~/Plugins/FLTBootstrap/css/responsive.css")

    @*Glyphicons*@
    @Styles.Render("~/Plugins/Theme/fonts/glyphicons/css/glyphicons.css")
    @Styles.Render("~/Plugins/Theme/fonts/font-awesome/css/font-awesome.min.css")
    <!--[if IE 7]>@Styles.Render("~/Plugins/Theme/fonts/font-awesome/css/font-awesome-ie7.min.css")<![endif]-->

    <!-- Uniform Pretty Checkboxes -->
    @Styles.Render("~/Plugins/Theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css")

    <!-- PrettyPhoto -->
    @Styles.Render("~/Plugins/Theme/scripts/plugins/gallery/prettyphoto/css/prettyPhoto.css")

    <!-- Notyfy CSS -->
    @Styles.Render("~/Plugins/Theme/scripts/plugins/notifications/notyfy/themes/default.css")
    @Styles.Render("~/Plugins/Theme/scripts/plugins/notifications/notyfy/jquery.notyfy.css")


    @* Custom CSS (overwrites the boo *@
    @Styles.Render("~/Content/css")
    @* ################################# CSS FILES ############################# *@



    @* ################################# JS FILES ############################# *@
    @* Modernizer *@
    @Scripts.Render("~/bundles/modernizr")
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    @* Bootstrap *@
    @Scripts.Render("~/Plugins/Bootstrap/js/bootstrap.min.js")
    @* ################################# JS FILES ############################# *@


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/Plugins/Theme/scripts/plugins/system/html5shiv.js")
    <![endif]-->

    <!-- Main Theme Stylesheet :: CSS -->
    @Styles.Render("~/Plugins/Theme/css/style-default-menus-dark.css")

    <!-- LESS.js Library -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/system/less.min.js")

    <!-- Global -->
    <script>
        //<![CDATA[
        var basePath = '',
            commonPath = '/Plugins/Theme';

        // colors
        var primaryColor = '#e5412d',
            dangerColor = '#b55151',
            successColor = '#609450',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;
        //]]>
    </script>


    <!-- jQuery Event Move -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/system/jquery.event.move/js/jquery.event.move.js")

    <!-- jQuery Event Swipe -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/system/jquery.event.swipe/js/jquery.event.swipe.js")

    <!-- jQuery ScrollTo Plugin -->
    <!--[if gt IE 8]><!-->
    <script src="http://balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>
    <!--<![endif]-->

    <!-- History.js -->
    <!--[if gt IE 8]><!-->
    <script src="http://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <!--<![endif]-->

    <!-- jQuery Ajaxify -->
    <!--[if gt IE 8]><!-->@Scripts.Render("~/Plugins/Theme/scripts/plugins/system/jquery-ajaxify/ajaxify-html5.js")<!--<![endif]-->


    <!-- Code Beautify -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/other/js-beautify/beautify.js")
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/other/js-beautify/beautify-html.js")

    <!-- PrettyPhoto -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/gallery/prettyphoto/js/jquery.prettyPhoto.js")

    <!-- SlimScroll Plugin -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/other/jquery-slimScroll/jquery.slimscroll.js")

    <!-- Holder Plugin -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/other/holder/holder.js")

    <!-- Uniform Forms Plugin -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js")

    <!-- MegaMenu -->
    @Scripts.Render("~/Plugins/Theme/scripts/demo/megamenu.js?1374506526")

    <!-- Notify -->
    @Scripts.Render("~/Plugins/Theme/scripts/plugins/notifications/notyfy/jquery.notyfy.js")

    <!-- Common Demo Script -->
    @Scripts.Render("~/Plugins/Theme/scripts/demo/common.js")





    @Scripts.Render("~/Scripts/Common/global.js")

    @* ################################# Dynamic Scripts/Styles ############################# *@
    @RenderSection("scripts", required: false)
</head>



<body class="document-body @ViewBag.BodyClasses">

    @if (WebSecurity.IsAuthenticated)
    {
        
        <!-- Main Container Fluid -->
        <div class="container-fluid menu-hidden sidebar-hidden-phone fluid menu-left">

            <!-- Sidebar menu & content wrapper -->
            <div id="wrapper">

                <!-- Sidebar Menu -->
                <div id="menu" class="hidden-print">

                    <!-- Brand -->
                    <a href="#" class="appbrand"><span class="text-primary">TS</span></a>

                    <!-- Scrollable menu wrapper with Maximum height -->
                    <div class="slim-scroll" data-scroll-height="800px">

                        <!-- Menu Toggle Button -->
                        <button type="button" class="btn btn-navbar">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <!-- // Menu Toggle Button END -->

                        <!-- Sidebar Profile -->
                        <span class="profile center">
                            <a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">
                                <img src="http://dummyimage.com/74x74/232323/ffffff&text=photo" alt="Avatar" /></a>
                        </span>
                        <!-- // Sidebar Profile END -->

                        <!-- Menu -->
                        <ul>
                        </ul>
                        <div class="clearfix"></div>
                        <!-- // Menu END -->

                        <div class="menu-hidden-element alert alert-primary">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <p>Integer quis tempor mi. Donec venenatis dui in neque fringilla at iaculis libero ullamcorper. In velit sem, sodales id hendrerit ac, fringilla et est.</p>
                        </div>

                    </div>
                    <!-- // Scrollable Menu wrapper with Maximum Height END -->

                </div>
                <!-- // Sidebar Menu END -->

                <!-- Content -->
                <div id="content">

                    <!-- Top navbar -->
                    <div class="navbar main">

                        <!-- Menu Toggle Button -->
                        <button type="button" class="btn btn-navbar pull-left visible-phone">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <!-- // Menu Toggle Button END -->


                        <ul class="topnav pull-left">
                            <li class="@ViewBag.DashboardActive">
                                <a href="#" class="glyphicons dashboard">
                                    <i></i>Dashboard
                                </a>
                            </li>
                        </ul>

                        <!-- Top Menu Right -->
                        <ul class="topnav pull-right hidden-phone">


@*                            <!-- Language menu -->
                            <li class="hidden-phone dropdown dd-1 dd-flags" id="lang_nav">
                                <a href="#" data-toggle="dropdown">
                                    <img src="../../../../../common/theme/images/lang/en.png" alt="en" /></a>
                                <ul class="dropdown-menu pull-right">
                                    <li class="active"><a href="?module=admin&amp;page=blank&amp;url_rewrite=&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible&amp;lang=en" title="English">
                                        <img src="../../../../../common/theme/images/lang/en.png" alt="English">
                                        English</a></li>
                                    <li><a href="?module=admin&amp;page=blank&amp;url_rewrite=&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible&amp;lang=ro" title="Romanian">
                                        <img src="../../../../../common/theme/images/lang/ro.png" alt="Romanian">
                                        Romanian</a></li>
                                    <li><a href="?module=admin&amp;page=blank&amp;url_rewrite=&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible&amp;lang=it" title="Italian">
                                        <img src="../../../../../common/theme/images/lang/it.png" alt="Italian">
                                        Italian</a></li>
                                    <li><a href="?module=admin&amp;page=blank&amp;url_rewrite=&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible&amp;lang=fr" title="French">
                                        <img src="../../../../../common/theme/images/lang/fr.png" alt="French">
                                        French</a></li>
                                    <li><a href="?module=admin&amp;page=blank&amp;url_rewrite=&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible&amp;lang=pl" title="Polish">
                                        <img src="../../../../../common/theme/images/lang/pl.png" alt="Polish">
                                        Polish</a></li>
                                </ul>
                            </li>
                            <!-- // Language menu END -->*@

                            <!-- Profile / Logout menu -->
                            <li class="account dropdown dd-1">
                                <a data-toggle="dropdown" href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons logout lock"><span class="hidden-tablet hidden-phone hidden-desktop-1">mosaicpro</span><i></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons cogwheel">Settings<i></i></a></li>
                                    <li><a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons camera">My Photos<i></i></a></li>
                                    <li class="profile">
                                        <span>
                                            <span class="heading">Profile <a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="pull-right text-primary text-weight-regular">edit</a></span>
                                            <a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="img thumb">
                                                <img data-src="holder.js/51x51/dark" alt="Avatar" />
                                            </a>
                                            <span class="details">
                                                <a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="strong text-regular">Mosaic Pro</a>
                                                contact@mosaicpro.biz
                                            </span>
                                            <span class="clearfix"></span>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            @Html.ActionLink("Logout", "Logout", new { controller = "Account" }, new { @class="btn btn-default btn-mini pull-right" })                                            
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <!-- // Profile / Logout menu END -->

                        </ul>
                        <!-- // Top Menu Right END -->

                        <ul class="topnav pull-right hidden-phone">
                            <li><a href="" class="glyphicons envelope single-icon"><i></i><!-- span class="badge fix badge-primary">5</!--></a></li>
                            <li><a href="" class="glyphicons cup single-icon"><i></i><!-- span class="badge fix badge-primary">7</!--></a></li>
                            <li class="hidden-tablet"><a href="" class="glyphicons comments single-icon"><i></i><!-- span class="badge fix badge-primary">3</!--></a></li>
                        </ul>
                        <div class="clearfix"></div>

                    </div>
                    <!-- Top navbar END -->

                    @RenderBody()

                </div>
                <!-- // Content END -->

            </div>
            <div class="clearfix"></div>
            <!-- // Sidebar menu & content wrapper END -->

            <div id="footer" class="hidden-print">

                <!--  Copyright Line -->
                <div class="copy">&copy; 2012 - 2013 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase FLAT KIT on ThemeForest</a> - Current version: v1.2.0 / <a target="_blank" href="http://demo.mosaicpro.biz/flatkit/CHANGELOG">changelog</a></div>
                <!--  End Copyright Line -->

            </div>
            <!-- // Footer END -->

        </div>
        <!-- // Main Container Fluid END -->            
       
    }
    else {
        @RenderBody()   
    }

    @if (controller != "Account")
    {
        @Styles.Render("~/Content/MainWeb.css")
        @Html.Partial("_NavigationForWebsite")        
    }
    else
    {
        @Styles.Render("~/Content/App.css")   
    }

    <script type="text/javascript">
        $(document).ready(function () {
            var alertType = "@ViewBag.alertType";
            if (alertType != "") {
                var alertMessage = "@ViewBag.alertMessage";
                var defaultNotyfy = notyfy({
                    text: alertMessage,
                    type: alertType,
                    timeout: 5000
                });
            }
        });
    </script>





</body>

</html>
