<!DOCTYPE html>
<html>
<head>
    @{
        string controller = ViewContext.RouteData.Values["controller"].ToString();
        string action = ViewContext.RouteData.Values["action"].ToString();        
        
    }

    <title>@ViewBag.Title - Timesheets</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    @* ################################# CSS FILES ############################# *@
    @* Bootstrap CSS *@
    @Styles.Render("~/Plugins/Bootstrap/css/bootstrap.min.css")

    <!--PNotify-->
    @Styles.Render("~/Plugins/PNotify/jquery.pnotify.default.css")
    @Styles.Render("~/Plugins/PNotify/jquery.pnotify.default.icons.css")

    @* Custom CSS *@
    @Styles.Render("~/Content/css")
    @* ################################# END CSS FILES ############################# *@


    @* ################################# JS FILES ############################# *@
    <!-- Modernizer -->
    @Scripts.Render("~/bundles/modernizr")
    <!-- JQuery -->
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
    <!-- PNotify -->
    @Scripts.Render("~/Plugins/PNotify/jquery.pnotify.min.js")
    <!-- Bootstrap JS-->
    @Scripts.Render("~/Plugins/Bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/Common/global.js")
    @* ################################# END JS FILES ############################# *@


    @* ################################# Dynamic Scripts/Styles ############################# *@
    @RenderSection("scripts", required: false)
</head>



<body class="document-body @ViewBag.BodyClasses">
    @if (controller != "Account")
    {

    }
    else
    {
    }

    @if (WebSecurity.IsAuthenticated)
    {
        @Html.Partial("_NavigationForMainApp")      
        @RenderBody()    
    }
    else
    {
        @Html.Partial("_NavigationForWebsite")       
        @RenderBody()   
    }



    <script type="text/javascript">
        $(document).ready(function () {
            var alertType = "@ViewBag.alertType";
            if (alertType != "") {
                var alertMessage = "@ViewBag.alertMessage";
                displayNotification(alertType, alertMessage);
            }
        });
    </script>


</body>

</html>
